.body {
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

main {
    background-image: url(../img/pattern.jpg);
}

.container {
    overflow: hidden;
}

.container__titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem;
}

.container__titulo h1 {
    border-bottom: 5px solid #b38900;
}

.container__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__img img {
    max-width: 200px;
    max-height: 150px;
    padding: 1rem;

}

.img-responsive {
    border-radius: 20%;
    filter: grayscale(100%);
}

.img-responsive:hover {
    transform: scaleX(-1) repeat;
}

.container__conteudo {
    margin: 1rem;
    text-align: center;
}

.container__conteudo h2 {
    text-transform: uppercase;
    font-weight: 700;
    padding: .5rem;
    border-bottom: 5px solid #b38900;
}

.container__conteudo p {
    padding-top: .5rem;
}

.container_article {
    display: flex;
    flex-direction: column;
    margin: 5px;

}

iframe {
    max-width: 250px;
    max-height: 200px;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15%;
}

.iframe__center {
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    width: 100%;
    height: 3rem;
    position: absolute;
    background-color: #EDDFB3;
}


footer p {
    text-align: center;
    color: black;
    font-size: 10px;
    padding-top: 1rem;

}

footer a {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    color: black;
    padding-top: .5rem;
}

footer i {
    padding-right: 10px;
}




@media (min-width: 760px) {

    .container__img img {
        max-width: 450px;
        max-height: 550px;
    }

    iframe {
        max-width: 350px;
        max-height: 250px;
    }

    .container__iframe {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .container__conteudo p {
        font-size: 18px;
    }

    .container__titulo {
        font-size: 26px;
    }

    .container__article article {
        background-color: #EDDFB3;
        border-radius: 15px;
    }

    footer p {
        font-size: 14px;
    }

    footer a {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .container__titulo {
        font-size: 70px;
        text-align: center;
        line-height: 60px;
        -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    }

    .container__img {
        padding-top: 5rem;
    }

    .container {
        padding: 1rem;
    }

    iframe {
        max-width: 500px;
        max-height: 400px;
    }

    .container__iframe {
        flex-direction: column;
    }

    footer {

        height: 4rem;

    }

    footer p {
        font-size: 16px;
    }

    footer a {
        font-size: 16px;
    }



}